# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# SGDK specified
/out/symbol.txt
/out/rom_head.bin

# SGDK specified
/.PVS-Studio
/.vscode
/cmake-build-debug
/cmake-build-release
tmp.bin
*_opt.png

# GCC specified
*ltrans.s
*lto_wrapper_args
*wpa.args.0
*out.args.0